{{#if categories}}
{{if showTopics 'with-topics'}}

{{#each categories as |c|}}
<div class="cat-home">
{{category-title-link-cat category=c}}
<a href="{{{dir-span c.url}}}">	
<img src="{{{dir-span c.categorimg}}}" alt="" class="logo-home">	
</a>	
     <div class="category-description">
     {{{dir-span c.description_excerpt}}}
     </div>
	
           {{#if c.subcategories}}
              <div class='subcategories'>
                      {{#each c.subcategories as |s|}}
                  <span class='subcategory'>
                    {{category-title-before category=s}}
		    <img src="{{{s.uploaded_logo.url}}}" class="category-logo-small"> 
                    {{category-link s hideParent="true"}}
                    {{category-unread category=s}}
                  </span>
                {{/each}}    
     
              </div>
            {{/if}}	
	
	
	<div class="cat-vopros">{{{dir-span c.topic_count}}} </div>	
	
</div>	

{{/each}}
{{/if}}
