{{#if categories}}

{{if showTopics 'with-topics'}}
   
{{#each categories as |c|}}
<div class="cat-glav">
<div data-category-id={{c.id}} class="{{if c.description_excerpt 'has-description' 'no-description'}} {{if c.uploaded_logo.url 'has-logo' 'no-logo'}}">
         
             {{category-title-link-cat category=c}}
           <div class="category-description">
             {{{dir-span c.description_excerpt}}}
           </div>
          
     
            {{#if c.subcategories}}
              <div class='subcategories'>
                      {{#each c.subcategories as |s|}}
                  <span class='subcategory'>
                    {{category-title-before category=s}}
		    <img src="{{{s.uploaded_logo.url}}}" class="category-logo-small"> 
                    {{category-link s hideParent="true"}}
                    {{category-unread category=s}}
                  </span>
                {{/each}}    
     
              </div>
            {{/if}}

</div>            
 
       <div data-category-id={{c.id}}  class='stats'> {{{dir-span c.topic_count}}}
	<br>
	<small>вопросов</small>
	</div>
</div>	
{{/each}}

{{/if}}
