<div class='topic-cat  topic-list' style='border-left: 4px solid #{{topic.category.color}};'>
<div class='telohome'>
  
 <div class='avacat'>
  {{#user-link user=topic.lastPoster}}{{avatar topic.lastPoster imageSize="large"}}{{/user-link}}
   
   <a href="{{topic.lastPostUrl}}" title="{{topic.bumpedAtTitle}}">ответ дан {{format-date topic.bumpedAt format="tiny" noTitle="true"}}</a>
    
</div>
  
  <div class='title-t'> 
    {{raw "topic-status" topic=topic}}
    {{topic-link topic}}
    {{#if topic.featured_link}}
      {{topic-featured-link topic}}
    {{/if}}
    {{topic-post-badges newPosts=topic.totalUnread unseen=topic.unseen url=topic.lastUnreadUrl}}
  </div>
  
</div>
</div> 
