<div class='topic-cat  topic-list'>
<div class='telohome'>
  
  <div class='title-t'> 
    {{raw "topic-status" topic=topic}}
    {{topic-link topic}}
    {{#if topic.featured_link}}
      {{topic-featured-link topic}}
    {{/if}}
    {{topic-post-badges newPosts=topic.totalUnread unseen=topic.unseen url=topic.lastUnreadUrl}}
  </div>
    {{format-date topic.bumpedAt format="tiny" noTitle="true"}}	
	
<div class='ava-t'>
   <div class='avacat'>
  {{#user-link user=topic.lastPoster}}{{avatar topic.lastPoster imageSize="large"}}{{/user-link}}
   </div>
   {{raw "list/topic-excerpt" topic=topic}}
</div>

<div class="foot">
<div class="stat">	
{{d-icon "comment-o"}} {{number topic.replyCount noTitle="true"}} {{discourse-tags topic mode="list" tagsForUser=tagsForUser}} 
 </div>

<div class='date'>  {{category-link topic.category}}  </div>
</div>
</div>
</div> 
