<label>Addition:</label>

URL large logo<br>
{{text-field value=category.custom_fields.categorimg}}

Short description<br>
{{text-field value=category.custom_fields.categordiscr}}

TXT cat <br>
<div class="d-editor-textarea-wrapper-info">
{{textarea tabindex=tabindex value=category.custom_fields.categortxt class="d-editor-input" placeholder=placeholderTranslated}} 
</div>

<br>Related categories<br>
<div class="d-editor-textarea-wrapper-info">
    {{textarea tabindex=tabindex value=category.custom_fields.categorqa class="d-editor-input" placeholder=placeholderTranslated}}
    
    {{popup-input-tip validation=validation}}
</div>

<br>Tags<br>
<div class="d-editor-textarea-wrapper-info">
    {{conditional-loading-spinner condition=loading}}
    {{textarea tabindex=tabindex value=category.custom_fields.categorization class="d-editor-input" placeholder=placeholderTranslated}}
</div> 
<br><br>  
